<%-include("partials/head.ejs")%>
<body class="allBody">
    <%-include ("partials/header.ejs") %>

    <div class="banner1"></div>

    <section id="blog">
        <div class="contenedor">
            <article>
                <a href="/autos"> <img src="images/imagen-home1.jpg"  alt=""></a>
                <h4>Elegi el auto de tus sueños</h4>
            </article>
            <article>
                <img src="images/imagen-home2.jpg" alt="">
                <h4>Confianza y Seguridad</h4>
            </article>
            <article>
                <img src="images/imagen-home3.jpg" alt="">
                <h4>El mejor servicio post-venta</h4>
            </article>
            
    </section>
    <%-include("partials/footer.ejs")%>
   
</body>
</html>