<%-include("partials/head.ejs")%>
<script>
  window.addEventListener("load", function() {
    let formulario = document.querySelector(".formulario-registro")
    
    formulario.addEventListener("submit", function(e) {
      e.preventDefault()

      let email = document.querySelector("#email")
      let password = document.querySelector("#password")
      let errors = []

      if(email.value === "") {
        errors.push("Correo electronico requerido");
      }
      
      if(password.value === "") {
        errors.push("Contraseña requerida");
      }

      if (errors[0]) {
        let errorDiv = document.querySelector("#errorList")
        for (let i = 0; i < errors.length; i++) {
          errorDiv.innerHTML += "<p>" + errors[i] + "</p>"
        }
      } else {
        formulario.submit();
      }
    })
  })
</script>

<body class="allBody">
    <%-include("partials/header.ejs") %>

    <div class="banner2"></div>

    <% errors.forEach((error) => { %>
      <p class="mensaje-error"><%= error.msg %></p>
   <% }) %>

    <main class="main-registro">
        <section class="registro-con-correo">
            
            <form class="formulario-registro" action="/users/login" method="POST">
                <div>
                  <br />
                  <input class="input" type="email" name="email" placeholder="Email" id="email" />
                </div>
                <div>
                  <br />
                  <input class="input" type="password" name="password" placeholder="Contraseña" id="password"/>
                </div>
                <div class="completarCampo" id="errorList"></div>
                <div class="button-container">
                  <button class="button" type="submit">Ingresar</button>
                </div>
              </form>
    </main>

    <%-include("partials/footer.ejs") %>
</body>

</html>