
<%-include("partials/head.ejs")%>

<body class="allBody">
<%-include ("partials/header.ejs")%>

<section class="banner2">
</section>

<div class="Mercadopago">
    <div class="Mercadopago1">
    <div class="Mercadopago2">
        <i class="fa-solid fa-money-bill-wave"></i>
        <h2>Mercadopago</h2>
        <h4>Dinero disponible $xxx</h4>
    </div>
    </div>
 <DIV class="LISTA">
 <ul>
 <li><form method="post"> <input type="checkbox"><i class="fa-brands fa-cc-visa"></i></form>VISA TERMINADA EN XXX</li>
 <li><form method="post"><input type="checkbox" ><i class="fa-brands fa-cc-mastercard"></i>MASTERCARD TERMINADA EN XXX</form></li>
 <li><form method="post"><input type="checkbox" ><i class="fa-brands fa-cc-amex"></i></form>EXPRESS TERMINADA EN XXX</li>
 <li><form method="post"><input type="checkbox" ><i class="fa-brands fa-cc-paypal"></i></form>PAYPAL</li>
 </ul>
 </DIV>
</div>
</body>


<%-include("partials/footer.ejs")%>