<%-include("partials/head.ejs")%>
<body class="allBody">
    <%-include ("partials/header.ejs") %>

    <h1>perfil administrador</h1>

    <h2>historial de autos vendidos</h2>

    <div class="create-container">
        <a class="button" href="/carros/crear">Crear Auto</a>
      </div>

      <div class="create-container">
        <a class="button" href="/editarCarro">Editar Auto</a>
      </div>
    
      <div class="create-container">
        <a class="button" href="/eliminarCarro">Eliminar Auto</a>
      </div>

    <%-include("partials/footer.ejs")%>
   
</body>
</html>