<footer>
    
        <div class="divsFooter">
            <strong>Daytona</strong>
            <br>

            <a href="/nuestraEmpresa" class="direcciones"> Empresa</a>
            <br>
            <a href="/sucursales" class="direcciones">Sucursales</a>
        </div>
        <div class="divsFooter"><strong>Servicio al Cliente</strong>
            <br>

            <a href="/asesoramiento" class="direcciones">Asesoramiento</a>
            <br>
            <a href="/solicitudTestDrive" class="direcciones">Solicitud de Test Drive </a>
            <br>
        </div>
        <div class="divsFooter"> <strong>Redes Sociales </strong>
            <br>

            <a href="https://www.facebook.com" class="direcciones">Facebook</a>
            <br>
            <a href="https://www.instagram.com" class="direcciones">instagram</a>
            <br>
            <a href="https://www.twitter.com" class="direcciones">twitter</a>
            <br>
        </div>
        <div class="divsFooter"> <strong>Modelos</strong>
            <br>
            <a href="/login" class="direcciones">Electricos</a>
            <br>
            <a href="/login" class="direcciones">Hibridos</a>
            <br>
            <a href="/login" class="direcciones">Gasoleros</a>
            <br>
            <a href="/login" class="direcciones">Nafteros</a>
        </div>
    
</footer>
<div class="piedefooter">
    Copyright © 2000-2022 Daytona S.R.L.
</div>