<header>
  <div class="contenedor">
    <a href="/"><img src="/images/logo.jpeg" class="logo" /></a>
    <input type="checkbox" id="menu-bar" />
    <label class="icon-menu" for="menu-bar"><i class="fa-solid fa-bars"></i></label>

    <nav class="menu">
      <!-- <a href="/carrito">Carrito<i class="fa-solid fa-basket-shopping"></i></a> -->
      <a href="/servicios">Servicio al Cliente</a>
      <a href="/carros">Autos</a>
      <!-- <a href="/ayuda">Ayuda</a> -->
      <% if (!locals.usuario) { %>
      <a href="/users/register">Crea tu cuenta <i class="fa-solid fa-user"></i></a>
      <a href="/users/login">Ingresa <i class="fa-solid fa-user-check"></i></a>
      <% } else { %>
      <a href="/users/historial">Historial de Compras</a>
      <a href="/users/logout">Cerrar Sesion</a>
      <% } %>
    </nav>
  </div>
</header>
